.remove-btn-container {
    position: relative;
}
.cart-item-card {
    width: 100%;
    margin: 10px 0;
    flex-direction: row;
    padding: 1%;
    border: 1px solid #e6e1e1;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.remove-btn {
    position: absolute;
    top: 30%;
    right: 0;
}
.total-header {
    background: #b7b71a;
    color: white;
}
.total {
    font-size: 28px;
    color: #1b1515;
    font-weight: bold;
    height: 40px;
}
.checkout {
    position: relative;
    text-align: center;
}
.checkout-btn {
    background: green
}
.total-currency {
    float: left;
}
.total-amount {
    float: right;
}